<div class="container-div">

  <h1>Almacenamientos</h1>

    <table class="table table-bordered center-text">
      <thead class="thead-dark center-text">
      <tr>
        <th>Descripción</th>
        <th>Editar</th>
        <th>Eliminar</th>

      </tr>
    </thead>

    <tbody>
      <% @storages.each do |storage| %>
        <tr>
          <td><%= storage.description %></td>
          <td><%= link_to '', edit_storage_path(storage), class: 'glyphicon glyphicon-pencil' %></td>
            <td><%= link_to '' , storage, method: :delete, data: { confirm: 'Estás seguro?' }, class: "glyphicon glyphicon-remove"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo almacenamiento', new_storage_path, class: 'btn btn-primary' %>
</div>