<div class="container-div">

  <h1>Colores</h1>

  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr class="center-text">
        <th scope="col">Nombre</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th> 
      </tr>
    </thead>

    <tbody>
      <% @colors.each do |color| %>
        <tr>
          <td><%= color.name %></td>
          <td><%= link_to '', edit_color_path(color), class: 'glyphicon glyphicon-pencil' %></td>
          <td><%= link_to '' , color, method: :delete, data: { confirm: 'Estás seguro?' }, class: "glyphicon glyphicon-remove"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo color', new_color_path, class: 'btn btn-primary' %>
</div>