<div class="container-div">

<h1>Marcas</h1>

  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr>
        <th>Description</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <% @brands.each do |brand| %>
        <tr>
          <td><%= brand.description %></td>
          <td><%= link_to '', edit_brand_path(brand), class: 'glyphicon glyphicon-pencil' %></td>
          <td><%= link_to '' , brand, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'Nueva marca', new_brand_path, class: 'btn btn-primary' %>
</div>